.deleteButton{
    color: white;
    background-color: red;
    height: 40px;
    width: 40px;
}
#adminpage_outer_div {
    display: flex;
    flex-wrap: wrap;
}
.admin_menu_div {
    min-height: 70vh;
}
.menu_active {
    width: 60%;
    margin-left: 20%;
}
.menu_inactive {
    width: 20%;
}
#admin_header {
        text-align: center;
        border: 2px solid gainsboro;
        background-color: gray;
        color: white;
        height: 3rem;
}
.admin_menu_buttons {
    width: 100%;
    height: 3rem;
    text-align: left;
    position: relative;
}
.admin_menu_buttons_text {
    margin-left: 10%;
    font-size: large;
}
.admin_menu_buttons_arrow {
    position: absolute;
    font-size: 1.5rem;
    top: 8px;
    right: 20px;
    user-select: none;
}
.admin_orders_grid {
    margin-left: 2%;
    margin-top: 1%;
}
.admin_orders_title {
    text-align: center;
}
.admin_orders_collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
}
.active, .admin_orders_collapsible:hover {
    background-color: #ccc;
}
.admin_order_tab_text {
    margin-right: 3%;
    font-size: 14px;
}
.admin_orders_content {
        padding: 0 8px;
        background-color: white;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        border: 1px grey black;
        border-style: outset;
}
.admin_orders_content_text {
    padding: 5px;
}
.admin_orders_content_grid {
    margin: 10px 0;
}
.admin_orders_productlines {
    position: sticky;
    top: 95px;
    overflow: scroll;
}