footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    
  }

.footer {
    background-color: #ccb9ed;
    color: #fff;
    padding: 2rem 0;
    width: 100%;
  }
  
  .container {
    max-width: auto;
    margin: 0 auto;
    padding: 0 0rem;

  }
  
  .footer-content {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2rem;
  
  }
  
  .footer-section {
    flex: 1;
    margin: 0rem;
    min-width: 250px;
  }
  
  .footer-section h4 {
    margin-bottom: 1rem;
  }
  
  .footer-section p {
    font-size: 0.9em;
  }