
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccb9ed;
    padding: 1rem;
  }
  
  .navbarleft,
  .navbarright {
    display: flex;
    align-items: center;
  }
  
  .navbar p {
    margin: 0;
    padding: 0;
    color: #fff;
  }


.link {
    color: white;
    font-size: 20px;
    margin-left: 1.5rem;
    text-decoration: inherit;
}

.link:hover {
    color: white;
    font-size: 25px;
}

.iconlink {
    margin-left: 1.5rem;
    text-decoration: inherit;
}

.svg:hover {
    width: 2.5rem;
    height: 2.2rem;

}
#cart_number {
  font-size: 1rem;
  position: absolute;
  right: 1.3rem;
  top: 0.8rem;
  text-align: center;
  border-radius: 50%;
  background-color: turquoise;
  width: 1.3rem;
  height: 1.3rem;
}
