.container {
    display: flex;
    justify-content: center; /* centers the items horizontally */
    align-items: center; /* centers the items vertically */
    flex-direction: row; /* displays the items in a row */
}

.box {
    width: 500px;
    height: 500px;
    background-color: gray;
    margin: 10px; /* adds some space between the boxes */
}


.description{
    font-size: 50px;
    margin-left: 5%;
    max-width: 90%;
    padding: 5px;
}

.infoGrid{
    height: 100%;
    font-size: 40px;
    /*background-color: #cbecf2;*/
}

.pictureAndInfo{
    width: 90%;
    height: 75%;
    margin-top: 4%;
}

label {
    font-size: 36px;
    font-weight: bold;
}

select {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #444;
    width: 150px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select:focus {
    outline: none;
    border-color: #719ECE;
}

option {
    font-size: 16px;
}
#productpage_rating {
    margin-left: 2rem;
}
.review_input {
    border: 2px solid plum;
    border-radius: 10px;
    margin-left: 5px;
    font-size: medium;
    padding: 5px;
    outline-color: #719ECE;
}
.review_label {
    font-size: larger;
    font-weight:normal;
}
#review_input_comment {
    width: 100%;
    min-height: 20vh;
    border-radius: 5px;
    padding: 4px;
    resize: none;
}
